:root {
  color-scheme: light dark;
  background-color: #141414;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.styled-div {
  padding: 10px;
  background-color: #1d1d1d;
  border-radius: 15px;
  margin: 25px 25px 25px 12px;
}

@font-face {
  font-family: 'LemonMilkMed';
  src: url(../public/LEMONMILK-Medium.otf) format('truetype');
}

@font-face {
  font-family: 'LemonMilkLight';
  src: url(../public/LEMONMILK-Light.otf) format('truetype');
}

@font-face {
  font-family: 'NunitoSans';
  src: url(../public/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format('truetype');
}